.events{
    
    margin-top: 80px;
    .event{
        
        display: flex;
        margin-top: 64px;
        margin-bottom: 120px;

        &__intro{
            text-align: center;
            background-image: linear-gradient(#30336b, #130f40);
            padding: 24px;
            border-radius: 8px;
            &__title{
                margin-top: 16px;
                font-size: 24px;
                color: aliceblue;
            }
            &__text{
                margin-bottom: 16px;
                font-size: 12px;
                color: aliceblue;
            }
        }

        &__content{
            text-align: center;
            border-radius: 48px;
            margin-right: 24px;
            &__title{
                margin-bottom: 24px;
                font-size: 18px;
                color: #dfe4ea;
                margin-top: 32px;
            }
            &__text{
                margin-right: 16px;
                margin-left: 16px;
                color: #dfe4ea;

                
            }
            &__letter{
                color: #dfe4ea;
                font-size: 10px;
                margin-top: 16px;
            }


            &--miku{
                background-image: linear-gradient(#30336b, #130f40);
            }
            &--paintball{
                background-image: linear-gradient(#30336b, #130f40);
            }
            &--soul{
                background-image: linear-gradient(#30336b, #130f40);
            }
            &--femboy{  
                background-image: linear-gradient(#30336b, #130f40);
            }
        }
        &__image{
                max-width: 320px;
                height: 100%;
                border-radius: 16px;
            }

        &--inverted{
            flex-direction: row-reverse;
            .event__content{
                margin-left: 24px;
            }
            
        }
    }

    @media (max-width:640px) {
        .container{
            .event__intro{
                margin: 0 16px 0 16px;
                &__title{
                    margin-top: 0;
                    margin-bottom: 16px;
                }
                &__text{
                    margin-bottom: 0;
                }
            }
            .event{
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 80px;
                
                &__content{
                    display: block;
                    margin-left: 24px;
                    padding: 24px;

                    &__title{
                        margin-top: 8px;
                    }

                    &__letter{
                        font-size: 10px;
                        margin-top: px;
                    }
                }

                &__image{
                    margin-top:16px;
                    margin-bottom: 64px;
                } 
            }
        }
    }
    @media (min-width:643px) and (max-width:1024px){
        .container{
            margin: 0 24px;
        }
    }
    

}